# Order Update Service
INPUT_FILE=/data/order_updates.csv
POSITION_SERVICE_URL=http://position-service:8000
MAX_EVENTS_PER_SECOND=50
REQUEST_TIMEOUT=5
MAX_RETRIES=3

# Position Maintaining Service
POSITION_SERVICE_HOST=0.0.0.0
POSITION_SERVICE_PORT=8000